.header-area {
    position: fixed;
    top: 0;
    width: 100%;
    height:50px;
    background-color: black;
    box-shadow: 0 0 16px 4px black;
    z-index: 9;
}
.width-set {
    width: 1200px;
    margin: 0 auto;
}
.logo-img {
    float: left;
    width: 167px;
    height: 33px;
    margin-top: 8px;
    background-image: url('../images/header/logo.png');
}
.title-text {
    float: left;
    margin-top: 4px;
    margin-left: 20px;
    color: white;
    font-size: 2rem;
    font-weight: normal;
    font-family: banhei;
}
.title-text:hover {
    text-shadow: 1px 1px 16px white;
}
@font-face {
    font-family: banhei;
    src: url('../fonts/mfbanhei.otf');
}
.f-color {
    color: rgb(167,32,10);
}
.a-color {
    color: rgb(51,180,81);
}
.header-nav-list {
    float: right;
}
.header-nav-list li {
    display: inline-block;
    padding-right: 50px;
}
.header-nav-list li a {
    line-height: 50px;
    font-size: 0.9rem;
    font-family: yuehei;
}
.header-nav-list li a:link {
    color: grey;
}
.header-nav-list li a:visited {
    color: grey;
}
.header-nav-list li a:hover {
    color: white;
    text-shadow: 1px 1px 16px white;
}
.header-nav-list li a:active {
    color: rgb(51,180,81);
}
@font-face {
    font-family: yuehei;
    src: url('../fonts/mfyueheixt.otf');
}