/* ---------- main-area ---------- */
main {
    min-width: 1200px;
    padding-bottom: 20px;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center center;
}
.main-area {
    position: relative;
    width: 1200px;
    margin: 50px auto 0;
    padding-top: 10px;
}

#downloads, #readme, #others, #debug, #donate {
    width: 1200px;
    margin-top: 10px;
    border: 1px solid transparent;
    background-color: rgba(0,0,0,.8);
    box-shadow: 0 0 32px 2px rgb(167,32,10);
}

.title-h2 {
    padding-left: 50px;
    border-bottom: 4px solid rgb(51,180,81);
    color: rgb(167,32,10);
    background-color: rgba(0,0,0,.8);
    font-size: 1.5rem;
    line-height: 3.5rem;
    font-family: yuehei;
    text-shadow: 2px 2px 4px rgb(167,32,10);
}

/* -------------------- downloads -------------------- */
.baidu-pan {
    display: block;
    width: 185px;
    height: 62px;
    margin: 20px auto;
    background-image: url('../images/downloads/baidu.png');
}

/* -------------------- readme -------------------- */
.readme-list {
    padding: 20px 100px 20px 100px;
}
.readme-li, #donate p {
    color: white;
    background-color: black;
    font-size: 1rem;
    line-height: 32px;
}
.readme-li~li {
    margin-top: 5px;
}
.readme-li:before {
    display: inline-block;
    margin-right: 20px;
    content: '';
    width: 4px;
    height: 32px;
    background-color: rgb(167,32,10);
    vertical-align: top;
}
.readme-li:hover {
    background-color: rgb(167,32,10);
}
/* -------------------- others -------------------- */
#others {
    height: 500px;
}

/* -------------------- debug -------------------- */
#debug {
    height: 500px;
}

/* -------------------- donate -------------------- */
#donate {
    padding-bottom: 20px;
}
#donate p {
    margin-left: 100px;
    margin-right: 100px;
}
#donate p:before {
    display: inline-block;
    margin-right: 20px;
    content: '';
    width: 4px;
    height: 32px;
    background-color: rgb(167,32,10);
    vertical-align: top;
}
#donate img {
    width: 240px;
    height: 326px;
    margin-left: 20%;
}